@media screen and (max-width: 767px){

  #formulario input, #formulario textarea{
    width: 90%;
  }

  .iconos-container{
    padding: 0;
  }

  .about {
    /*padding: 10em 0;*/
  }

  #canvasNave.canvasNave{
    display: none;
  }


  .about-inner p, .about p {
    color: white;
  }

  #main-logo {
    visibility: visible;
    opacity:1;
  }

  #nave{
    width: 30px;
    display: none;
  }

  #nube{
    left:0;
    right: 0;
    padding-bottom: 0;
    display: block;
    opacity: 1 ;
    position: absolute;
    margin:auto;
    width: 30%;
  }

  .flickity-page-dots {
       display: block;
  }

  .planetas {
    padding-top: 20%;
  }
/*
  #contacto{
    .planetas {
    padding-top: 20%;
  }
  }*/


  #portfolio h3 {
      margin-bottom: 15%;
  }

  canvas{
    display:none;
  }

  .contacto-planet{
    height: auto;
  }

  .piso{
    height: 50px;
  }


  .desplazamiento {

      padding-right: 20px;

  }

  .bolita-display{
    margin: 3em auto;
  }

  #index section{
    padding-top: 3em;
    padding-bottom: 3em;
  }

  #port-1 .left-side{
    padding-top: 2em !important;
  }

  .seccion{
    min-height: 100vh;
  }

   #descripcion{
     max-height: 100vh;
   }

  #port-1 .center-side img{
      top: 0;
      bottom:0;
      left: 0;
      right: 0;
      margin: auto;
      margin-top: 2em;
  }

  .port > img{
    position: relative;
    width: auto;
    bottom: 0;
    padding-top: 5em !important;
  }

  .port{
    min-height: auto;
    text-align: center;
  }

  #go-back {

    padding: 2em;
    width: 100px;
  }

  #go-up, .effect{
    padding-right: 20px;
    width: 3.5em;
  }

  #fraseFlotante{
    display: none;
  }

  .animate-nubes {
    animation:none;

  }

  .circle-lema {
      height: 150px;
      width: 150px;
  }

  .circle-container{
    padding: 0;
  }

  #link{
      display: none;
  }

  .float-right{
    padding-right: 0;
  }

  .float-left{
    padding-left: 0;
  }

  .about-inner h3 {
    margin-top: 30%;
  }


  .zona-nubes > img{
    position: absolute;
    padding-top: 5em !important;
    width: 70%;
  }

  .zona-nubes > img:last-child{
    padding-top: 0em !important;
    width: 100%;
  }

  .zona-nubes > img:first-child{
    padding-top: 10em !important;
    width: 50%;
  }

  #testing {
    background: radial-gradient(at 35% bottom,white,#67588f,#362859,transparent);
    background-size: 150%;
}


    .nombre-proj{
      padding-bottom: 7em;
      position: absolute;
      bottom:0
    }
}

@media screen and (max-width: 767px) and (orientation:portrait){


}

@media screen and (max-width: 767px) and (orientation:landscape){
  .nombre-proj {
  padding-bottom:0;
  position: absolute;
  bottom: 0;
  }

  .flecha-port {

    bottom:0;
  }

  .zona-nubes #nube-2 {
    width: 30%;
  }

  .zona-nubes #nube-3 {
    width: 30%;
  }

}
