@media screen and (max-width: 767px){

  #formulario input, #formulario textarea{
    width: 90%;
  }

  .iconos-container{
    padding: 0;
  }

  .about {
    /*padding: 10em 0;*/
  }

  #canvasNave.canvasNave{
    display: none;
  }


  .about-inner p, .about p {
    color: white;
  }

  #main-logo {
    visibility: visible;
  }

  #canvas{
    display:none;
  }


  .desplazamiento {

      padding-right: 20px;

  }

}

@media screen and (max-width: 767px) and (orientation:portrait){


}

@media screen and (max-width: 767px) and (orientation:landscape){

}
